@font-face {
  font-family: 'MailRay';
  src: url('../../assets/mail_ray_stuff/Mail Ray Stuff.otf') format('opentype');
}

@font-face {
  font-family: 'Garet';
  src: url('../../assets/garet/Garet-Book.woff2') format('woff2'),
       url('../../assets/garet/Garet-Book.woff') format('woff');
}

body{
  background-color: #e4eff3;
}

.titulo-tr{
  font-family: 'MailRay';
  font-size: 50px;
  color: #013045;
}
.sessao-modal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.sessao-tr {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 10px;
}

.sessao-tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 40px;
}
.icone-tr{
  width: 90px;
}
.lado-esquerdo {
  display: flex;
  align-items: center;
  gap: 50px;
}


.textos-tr {
  display: flex;
  flex-direction: column;
}

.input-tr{
  width: 450px;
  height: 55px;
  border-radius: 20px;
  margin: 10px 0;
  background-color: #e4eff3;
  padding-left: 20px;
  border: none;
}
.select-tr{
  width: 480px;
  height: 55px;
  border-radius: 20px;
  padding-right: 10px;
  background-color: #e4eff3;
  padding-left: 20px;
  border: none;
  padding-right: 30px;
  font-family: 'Garet', sans-serif;
  font-size: 16px;
  color: #013045;
}
.select-tr option {
    font-family: 'Garet';
  font-size: 15.5px;
  color: #013045;
  background-color: #ffffff;
}
.input-tr::placeholder{
  font-family: 'Garet';
  font-size: 16.5px;
  color: #013045;
}

.form-tr{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container-tabela {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tabela-custom {
  width: 90%;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0px;
  font-family: 'Garet';
  font-size: 13px;
  background-color: #ffff;
  padding: 10px;
border-radius: 15px;
}


.tabela-custom thead tr {
  background-color: #E4EFF3;
}

.tabela-custom th {
  padding: 14px 20px;
  text-align: center;
  color: #5f7380;
  font-weight: 600;
  background-color: #dfe7ec;
}

 header 
.tabela-custom th:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tabela-custom th:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.tabela-custom tbody tr {
  background-color: #ffffff;
  transition: 0.2s;
}


.tabela-custom tbody td {
  padding: 14px 20px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}


.tabela-custom tbody tr:hover {
  background-color: #f8fafc;
}


.valor-receita {
  color: #3b82f6;
  font-weight: 600;
}

.valor-despesa {
  color: #fb2c2a;
  font-weight: 600;
}

.badge-tipo {
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
}


.badge-tipo.receita {
  background-color: #dbeafe;
  color: #3b82f6;
}


.badge-tipo.despesa {
  background-color: #fee2e2;
  color: #fb2c2a;
}
.acoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icone {
  width: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.icone:hover {
  opacity: 1;
  transform: scale(1.1);
}
.acao-editar:hover {
  filter: hue-rotate(180deg);
}

.acao-excluir:hover {
  filter: brightness(0.7);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtitulo-tr{
  font-family: 'Garet';
  font-size: 15px;
  color: #013045;
}


.cards-container {
  display: flex;
  justify-content: center; 
  gap: 20px;
  margin-top: 30px;
}


.cardRD {
    width: 260px;
    height: 90px;
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
   padding: 20px 25px;
   border-radius: 18px;
   background-color: #FEFEFE;
   color: #B3C9F3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
   justify-content: center;
  gap: 15px;
}


.cardRD:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}


.txt-card {
  font-family: 'Garet';
  font-size: 13px;
  color: #013045;
    margin-bottom: 0; 
  opacity: 0.9;
}

.textos-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sessao-img-txt {
  display: flex;
  align-items: center;
  gap: 15px; 
}


.icone-card {
  width: 50px;
  height: 50px;
  object-fit: contain;
   border-radius: 11px;

}

.txt-receita{
  font-family: 'mail';
  font-size: 20px;
  margin: 0;
  color: #013045;
}
.txt-despesa{
  font-family: 'mail';
  font-size: 20px;
  margin: 0;
  color: #013045;
}
.txt-vt{
  font-family: 'mail';
  font-size: 20px;
  margin: 0;
  color: #013045;
}